@charset "UTF-8";

*{
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 16px;
}
label {
	text-align: left;
	font-size: larger;
	padding-left: 10px;
}

input[type = text], input[type = password] {
	border: none;
	border-bottom: solid 1px;
}
button, input[type = submit]{
	background-color: #51cf66;
	color: #fff;
	border: none;
}
button:hover, input[type = submit]:hover {
	opacity: 0.7;
}
.login{
	height: 650px;
	width: 400px;
	border: solid 5px #4dabf7; 
	border-radius: 20px; 
	margin: 5% auto;
	background-color: light;
}

.container{
	width: 95%;
	padding: 10px 0;
	margin: 10px 10px;																																									
}
.container.check{
	border:none;
	font-size: 12px;
	text-align: right;
}
.form-footer{
	width: 95%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	margin: 10px auto;
}
.form-header{
	text-align: center;
}
.hidden{
	display: none;
}
#btn-logout{
	background-color: red;
}
#cart-number{
	position: absolute;
	top: 0;
	left: 53%;
	width: 1.5rem;
	height: 1.5rem;
	background-color: red;
	border-radius: 50%; 
	color: white;
}